.ctop {
  margin-top: 50px;
}

.cleft {
  margin-left: 20px;
}

.mydivider {
  position: absolute;

  height: 50px;
}

.w1 {
  width: 200px;
}

.Mymargin1 {
  margin-top: 170px;
}

.Mymargin2 {
  margin-top: 170px;
}
