<html>
<div class="ui raised segments">
  <div class="ui segment">
    <b>ข้อมูลผู้เรียน</b>
  </div>
  <div class="ui segment">
    <div>
      <h6>{{te_key}}</h6>
    </div>
    <div>{{stu_name}}</div>
  </div>
</div>


<div class="ui raised segments">
    <div class="ui segment">
      <b>หัวข้อโครงงานที่สนใจ</b>
    </div>
    <div class="ui segment">
      <div></div>
      <div><h6>รหัสโครงงาน : {{stu_pkey}}</h6></div>
      <p>{{p_name_th}}</p>
      <div><h6>{{p_name_en}}</h6></div>
    </div>
  </div>


</html>
