<html lang="en">

<body>
  <app-header-teacher></app-header-teacher>
  <div class="ui container ctop">
    <br>
    <div class="ui grid">
      <div class="three wide column">
        <app-menu-manage></app-menu-manage>
      </div>
      <div class="twelve wide column cleft">
        <div class="right floated left aligned six wide column">
          <div class="ui padded segment">
            <h5>การจัดการข้อมูลผู้สอน</h5>
            <button type="button" class="circular compact icon ui right floated button green" data-toggle="modal" data-target="#addData"
              data-inverted="" data-tooltip="เพิ่มผู้สอน" data-position="left center">
              <i class="ui plus alternate icon"></i>
            </button>
            <br>
            <!-- <a routerLink="/addStudent">เพิ่มนักศึกษา</a> -->
            <table class="ui selectable celled table">
              <thead>
                <tr>
                  <th>ชื่อผู้ใช้</th>
                  <th>ชื่อ-สกุลผู้สอน</th>
                  <!-- <th>รหัสผ่าน</th> -->
                  <th>ฟังก์ชัน</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of wikiList | async">
                  <td>{{data.key}}</td>
                  <td>{{data.teacher_name}}</td>
                  <!-- <td>{{data.password}}</td> -->
                  <td>
                    <button type="submit" class="circular compact icon ui button orange" (click)="clear_pass()" data-inverted="" data-tooltip="แก้ไขรหัสผ่าน"
                      data-position="left center" [disabled]="!isValidForm(data.key)" data-toggle="modal" data-target="#edit_pass">
                      <i class="key icon"></i>
                    </button>
                    <button type="button" (click)="setData(data)" class="circular compact icon ui button blue" data-toggle="modal" data-target="#editData">
                      <i class="edit alternate icon"></i>
                    </button>
                    <!-- <i class="trash alternate outline icon large red" (click)="delData(data)"></i> -->
                    <!-- <button type="button" (click)="delData(data)" class="ui orange button">ลบ</button> -->
                    <button type="button" (click)="confirm(data)" class="circular compact icon ui button red" data-toggle="modal" data-target="#confirm">
                      <i class="trash alternate icon"></i>
                    </button>



                  </td>
                  <!-- <td><button type="button" (click)="delData(data)" >Delete</button></td> -->
                  <!-- <td>{{data.key}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal show confirm -->
  <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ยืนยันการทำรายการ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ต้องการลบชื่อผู้ใช้ : {{teacher_id}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" (click)="delData(teacher_id)" class="ui primary button" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal manage data -->
  <div class="modal fade" id="editData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขข้อมูลผู้สอน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="setData(setForm)" #setForm="ngForm" class="ui form">
            <div class="field">
              <label for="name"> ชื่อผู้ใช้งาน {{tea_id}} </label>
            </div>
            <div class="field">
              <label for="name">ชื่อ-สกุลผู้สอน</label>
              <input type="text" name="student_name" ngModel [(ngModel)]="tea_name">
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" (click)="editData(tea_id,tea_name,tea_pass)" data-dismiss="modal">บันทึก</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal add data -->
  <div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">เพิ่มข้อมูลผู้สอน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="setAddData()" class="ui form">
            <div class="field">
              <label for="name"> ชื่อผู้ใช้งาน </label>
              <input type="text" name="teacher_id" [(ngModel)]="teacher_id">
            </div>
            <div class="field">
              <label for="name"> ชื่อ-สกุลผู้สอน</label>
              <input type="text" name="teacher_name" [(ngModel)]="teacher_name">
            </div>
            <!-- <div class="field">
              <label for="name"> รหัสผ่าน</label>
              <input type="text" name="password" [(ngModel)]="password">
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="ui primary button" (click)="addData()" data-dismiss="modal">เพิ่ม</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal show confirm -->
  <div class="modal fade" id="edit_pass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">แก้ไขรหัสผ่าน</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="ui form">
            <div class="field">
              <label for="name">รหัสผ่านเดิม</label>
              <input type="password" name="old_pass" ngModel [(ngModel)]="old_pass">
            </div>
            <hr>
            <div class="field">
              <label for="name">รหัสผ่านใหม่</label>
              <input type="password" name="new_pass" ngModel [(ngModel)]="new_pass">
            </div>
            <div class="field">
              <label for="name">ยืนยันรหัสผ่านใหม่</label>
              <input type="password" name="new_pass" ngModel [(ngModel)]="re_new_pass">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" (click)="change_password()" class="ui primary button" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
