.ctop {
  margin-top: 55px;
}

.color-sent {
  color: #5499C7;
}

.color-late {
  color: #F1948A;
}

.color-no1 {
  color: #5D6D7E;
}

.color-pass {
  color: #F5B041;
}

.color-failed {
  color: #5D6D7E;
}

.color-no2 {
  color: #5D6D7E;
}
